<a href="https://colab.research.google.com/github/Afitz19/Afitz19/blob/main/Converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Camelot but have ghostwriter installed

In [ ]:
import camelot as cam

Download your pdf file to colab then copy its path you can use stream in this formatt or lettice

In [ ]:
pdf = cam.read_pdf("/content/FY2021AssigmentList.pdf", pages ='1', flavor= "stream")

print the shortcut name

In [ ]:
print(pdf)

<TableList n=1>

format the data frame

In [ ]:
pdf[0].df

,0,1,2,3,4,5,6,7,8,9
0,DISTRICT ACCOUNT #,OWNERS NAME,ADDRESS STREET,,CITY,ZIP,FOOTAGE,ASSESSED VALUE,,TAXES DUE
1,18,2067452 5922 CENTRAL AVENU,AKIN,AVE,CAPITOL HEIGHTS,20743,"1,600.00 SQ FT","$9,600",TAXES,"$8,319.36"
2,20,2839082 ACKER KEITH C & LI,CRANDALL,CT,LANHAM,20706,"1,937.00 SQ FT",$100,TAXES,"$15,640.27"
3,17,1936574 ADEWUYI GBAYE & LU,1836 METZEROTT,RD,HYATTSVILLE,20783,194 SQ FT,"$3,500",TAXES,"$1,908.37"
4,18,2064590 BANNISTER JACK G &,DOPPLER,ST,CAPITOL HEIGHTS,20743,"2,087.00 SQ FT",$200,TAXES,"$1,197.76"
5,8,0834879 BARNES PAUL & MARY,HAWKINS,DR,AQUASCO,20608,"4,263.00 SQ FT","$2,100",TAXES,"$1,823.98"
6,14,1577238 BARTON BEATRICE B,GEORGE N PALMER,HWY GLENN DALE,,20769,"5,257.00 SQ FT",$500,TAXES,"$3,182.16"
7,14,1579010 BELLAMY CHARLOTTE,5605 GLEN,AVE,LANHAM,20706,"37,500.00 SQ FT","$64,367",TAXES,"$19,727.46"
8,5,0278200 BEST GEORGE & MARY,LIVINGSTON,RD,ACCOKEEK,20607,5 ACRES,"$111,000",TAXES,"$68,270.54"
9,6,0643650 BONDS ROSA,2162 COUNTY,RD,DISTRICT HEIGHTS,20747,"14,444.00 SQ FT","$18,400",TAXES,"$1,793.68"
10,6,0652982 BROTHER HOOD OF ME,1518 NOVA,AVE,CAPITOL HEIGHTS,20743,"5,940.00 SQ FT","$45,100",TAXES,"$126,114.72"
11,14,1683143 BROWN MALCOLM R &,11005 LANHAM SEVERN,RD,GLENN DALE,20769,2.85 ACRES,"$95,000",TAXES,"$352,953.86"
12,6,0449223 CARTER NATHAN E,6318 FOSTER,ST,DISTRICT HEIGHTS,20747,"14,000.00 SQ FT","$251,000",TAXES,"$169,707.54"
13,8,0830489 CLAY HARRIET A,23007 BOOKER WASHINGTON,AVE,AQUASCO,20608,"6,029.00 SQ FT","$1,200",TAXES,"$1,228.06"
14,8,0830497 CLAY HARRIET A,23005 BOOKER WASHINGTON,AVE,AQUASCO,20608,"6,010.00 SQ FT","$1,200",TAXES,"$1,228.06"
15,17,1878156 D AND P HOME PROPE,8011 20TH,AVE,HYATTSVILLE,20783,"9,110.00 SQ FT","$17,567",TAXES,"$9,522.38"
16,17,1878164 D AND P HOME PROPE,8009 20TH,AVE,HYATTSVILLE,20783,"7,482.00 SQ FT","$17,467",TAXES,"$9,520.64"
17,17,1878172 D AND P HOME PROPE,8007 20TH,AVE,HYATTSVILLE,20783,"7,762.00 SQ FT","$17,467",TAXES,"$9,520.64"
18,17,1878180 D AND P HOME PROPE,8005 20TH,AVE,HYATTSVILLE,20783,"7,303.00 SQ FT","$17,467",TAXES,"$9,520.65"
19,17,1878198 D AND P HOME PROPE,8003 20TH,AVE,HYATTSVILLE,20783,"8,734.00 SQ FT","$17,567",TAXES,"$9,522.38"
20,17,1878206 D AND P HOME PROPE,8000 20TH,AVE,HYATTSVILLE,20783,"19,140.00 SQ FT","$17,767",TAXES,"$9,525.75"
21,17,1878222 D AND P HOME PROPE,8004 20TH,AVE,HYATTSVILLE,20783,"7,947.00 SQ FT","$17,467",TAXES,"$9,520.64"
22,17,1878230 D AND P HOME PROPE,8006 20TH,AVE,HYATTSVILLE,20783,"7,695.00 SQ FT","$17,467",TAXES,"$9,520.64"
23,17,1878248 D AND P HOME PROPE,8008 20TH,AVE,HYATTSVILLE,20783,"7,684.00 SQ FT","$17,467",TAXES,"$9,520.64"
24,17,1878255 D AND P HOME PROPE,8010 20TH,AVE,HYATTSVILLE,20783,"8,436.00 SQ FT","$17,567",TAXES,"$9,522.38"
25,15,1716026 DAIGLE BETTY E,9704 TIBERIAS,DR,UPPER MARLBORO,20772,"6,685.00 SQ FT",$833,TAXES,"$1,212.54"
26,18,2010338 DASHIELL JOHN F,614 ELFIN,AVE,CAPITOL HEIGHTS,20743,"10,619.00 SQ FT","$45,600",TAXES,"$49,023.82"
27,8,0839852 DAVIS JOHN F JR &,FREDERICK DOUGLAS,AVE,AQUASCO,20608,"2,924.00 SQ FT",$500,TAXES,"$1,039.15"
28,8,0842344 DAWSON DAVID T,23001 BOOKER WASHINGTON,AVE,AQUASCO,20608,"5,972.00 SQ FT","$1,100",TAXES,"$2,036.07"
29,8,0831545 DAWSON TOWNES L,HICKORY,TRL,AQUASCO,20608,"6,500.00 SQ FT","$3,200",TAXES,"$3,077.88"
30,8,0831552 DAWSON TOWNES L,WOODLAND,TRL,AQUASCO,20608,"5,783.00 SQ FT","$2,800",TAXES,"$2,796.69"
31,6,0468959 DECESARIS MARCO A,SUITLAND,RD,SUITLAND,20746,"21,780.00 SQ FT","$2,100",TAXES,"$1,024.80"
32,2,0166371 DELARIA DAVID J,WAYNE,ST,HYATTSVILLE,20785,"15,000.00 SQ FT","$27,500",TAXES,"$9,700.21"
33,8,0831859 DENT SHERMAN T,HAWKINS,DR,AQUASCO,20608,"4,825.00 SQ FT","$2,400",TAXES,"$1,309.39"

Export converter by this format

In [ ]:
table[0].df.to_excel('taxdeliquent_demo.xls')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.