<a href="https://colab.research.google.com/github/Afitz19/Afitz19/blob/main/Op_Pokemon_Team.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from pandas import DataFrame

In [ ]:
df = pd.read_csv('/content/pokemon dataset.csv')

In [ ]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [ ]:
df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [ ]:
op_team_draft = df.loc[0:,['name','attack','base_total','defense','experience_growth','hp','sp_attack','sp_defense','speed','type1','type2','generation']]

In [ ]:
op_team_draft

,name,attack,base_total,defense,experience_growth,hp,sp_attack,sp_defense,speed,type1,type2,generation
0,Bulbasaur,49,318,49,1059860,45,65,65,45,grass,poison,1
1,Ivysaur,62,405,63,1059860,60,80,80,60,grass,poison,1
2,Venusaur,100,625,123,1059860,80,122,120,80,grass,poison,1
3,Charmander,52,309,43,1059860,39,60,50,65,fire,NaN,1
4,Charmeleon,64,405,58,1059860,58,80,65,80,fire,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,101,570,103,1250000,97,107,101,61,steel,flying,7
797,Kartana,181,570,131,1250000,59,59,31,109,grass,steel,7
798,Guzzlord,101,570,53,1250000,223,97,53,43,dark,dragon,7
799,Necrozma,107,600,101,1250000,97,127,89,79,psychic,NaN,7
800,Magearna,95,600,115,1250000,80,130,115,65,steel,fairy,7

In [ ]:
op_team = op_team_draft.fillna('No second type')

In [ ]:
op_team

,name,attack,base_total,defense,experience_growth,hp,sp_attack,sp_defense,speed,type1,type2,generation
0,Bulbasaur,49,318,49,1059860,45,65,65,45,grass,poison,1
1,Ivysaur,62,405,63,1059860,60,80,80,60,grass,poison,1
2,Venusaur,100,625,123,1059860,80,122,120,80,grass,poison,1
3,Charmander,52,309,43,1059860,39,60,50,65,fire,No second type,1
4,Charmeleon,64,405,58,1059860,58,80,65,80,fire,No second type,1
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,101,570,103,1250000,97,107,101,61,steel,flying,7
797,Kartana,181,570,131,1250000,59,59,31,109,grass,steel,7
798,Guzzlord,101,570,53,1250000,223,97,53,43,dark,dragon,7
799,Necrozma,107,600,101,1250000,97,127,89,79,psychic,No second type,7
800,Magearna,95,600,115,1250000,80,130,115,65,steel,fairy,7

In [ ]:
Elite_Mostly_legendary_pokemon = op_team.loc[(op_team.attack > 95) & (op_team.base_total > 100) & (op_team.hp > 90) & (op_team.sp_attack > 100) & (op_team.sp_defense > 50) & (op_team.speed > 50) & (op_team.defense > 50)]

In [ ]:
Strong_Pokemon = op_team.loc[(op_team.attack > 95) & (op_team.base_total > 100) & (op_team.hp < 100) & (op_team.sp_attack > 85) & (op_team.sp_defense > 50) & (op_team.speed > 50) & (op_team.defense > 50)]

In [ ]:
Target_pokemon_teams_for_pokemon_games = Elite_Mostly_legendary_pokemon.append(Strong_Pokemon)
Target_pokemon_teams_for_pokemon_games

,name,attack,base_total,defense,experience_growth,hp,sp_attack,sp_defense,speed,type1,type2,generation
149,Mewtwo,150,780,70,1250000,106,194,120,140,psychic,No second type,1
249,Ho-Oh,130,680,90,1250000,106,110,154,90,fire,flying,2
372,Salamence,145,700,130,1250000,95,120,90,120,dragon,flying,3
381,Kyogre,150,770,90,1250000,100,180,160,90,water,No second type,3
382,Groudon,180,770,160,1250000,100,150,90,90,ground,No second type,3
...,...,...,...,...,...,...,...,...,...,...,...,...
773,Minior,100,500,60,1059860,60,100,60,120,rock,flying,7
783,Kommo-o,110,600,125,1250000,75,100,105,85,dragon,fighting,7
784,Tapu Koko,115,570,85,1250000,70,95,75,130,electric,fairy,7
796,Celesteela,101,570,103,1250000,97,107,101,61,steel,flying,7
799,Necrozma,107,600,101,1250000,97,127,89,79,psychic,No second type,7